#root {
  max-width: 1280px;
  margin: 0px 0px;
  text-align: center;
  background-color: #31123E;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
}

/* div {
  border: 1px solid white;
} */

.logo:hover {
  filter: drop-shadow(0 0 2em #fd952daa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #fd952daa);
}

/* Activities.jsx */
.activity-modal {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.activity-content {
  background-color: #31123e;
  border: 2px black solid;
  border-radius: 10px;
}

.activity-btn,
.custom-btn {
  background-color: #31123e;
  color: white;
  border: 2px solid black;
}

.activity-btn:active {
  background-color: #652F7B;
}

.update-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

.delete-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
}

.activity-tab,
.custom-tab {
  background-color: #652F7B;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.activity-tab select,
.custom-tab select,
.activity-tab input,
.custom-tab input {
  background-color: #250D2F;
  padding: 5px 100px 5px 5px;
  border-radius: 10px;
}

/* ==== NAVBAR ==== */
.Navbar {
  background-color: #12192C ;
}

.nav-logo {
  background-color: #12192C;
}

.nav-link {
  background-color: #12192C;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* ==== PARTY PAGE ==== */
.add-members {
  background-color: #250D2F;
}

.add-members a {
  color: #FFF;
  text-decoration: none;
}

.challenge-name {
  line-height: 30px;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 1rem;
}

.difficulty-btn-container {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

.difficulty-btn {
  background-color: #FE9F29;
  color: black;
  border-radius: 10px;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "card1 card2"
    "card3 card4"
    "card5 card6"
    "card7 card8";
}

.details {
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #250d2f;
  color: white;

}

.activity-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-input {
  line-height: 30px;
  
}

select {
  height: 30px;
}

.invite-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.invite-message {
  text-align: center;
  align-items: center;
  width: 50%;
  justify-content: center;

}

.add-activity-btn {
  grid-area: card1; 
  justify-self: end; 
  align-self: start;
  width: 90%;
  height: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: #652F7B;
  border-radius: 10px;
  border: 5px solid #250d2feb;
  box-shadow: 0 0 5px #fff;
}

/* ==== CHARACTER ==== */
.hero-full-image {
  margin-top: 20px;
  border: 5px solid #ffffffcb;
  border-radius: 3px;
  box-shadow: 0 0 20px #fff;
}
.achievements a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.inventory-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

.quests-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

.abilities-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

.footerDiv {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Header {
    
  }
  
  .Navbar {
    /* display: none; */
    height: 100px;
  }

  .Navbar a {
    display: none;
    
  }

  .hero-full-image {
    margin-top: 20px;
    height: 250px;
    border: 5px solid #ffffffcb;
    border-radius: 3px;
    box-shadow: 0 0 20px #fff;
  }
  
  .footerDiv {
    position: fixed;
    bottom: 0px;
    display: block;
    margin-top: 10px;
  }

  .mobileNavDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
  }

  .mobile-link {
    background-color:#250D2F;
    color: #fff;
    width: 100%;
    border-left: 1px solid #eeeeee20;
    border-radius: 4px;
  }

  .mobile-link a {
    color: #fff;
    font-size: 16px;
  }

  .update-button {
  border-radius: 7px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 3px 5px;
  margin: 0 5px;
  }

  .delete-button {
  border-radius: 7px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 3px 5px;
  margin: 0 5px;
  }
}


/* ActivityDetails.jsx */
.activity-details {
  display: flex;
  flex-direction: column;
  margin: 15%;
  align-items: center;
  background-color: #652F7B;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100
}

.activity-icon {
  margin-top: 10px;
}

.activity-details img {
  width: 40px;

}

.details-button-container {
  display: flex;
  gap: 10px; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

.return-link img {
  width: 40px;

}

@media only screen and (min-width: 600px) {
  .Navbar {
    display: block;
  }
}

