* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #31123E;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #fd952daa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #fd952daa);
}


/* ======= LOGIN PAGE ======= */
.login-logo {
  margin: 3rem 0 3rem 0;
  padding: 1rem;
  background-color: #250D2F;
  border: 7px outset #888;
  box-shadow: 0 1rem 1.5rem #FF7727;
  animation: breathe 1.5s infinite alternate;
}

@keyframes breathe {
  from {
    box-shadow: 0 1rem 1.5rem #FF7727;
  }

  to {
    box-shadow: 0 1rem 4rem #D8483F;
  }
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 180px;
}


input {
  margin: 0 0 1rem 0;
  background-color: #fff;
  color: #000;
  line-height: 30px;
  border-radius: 5px;
  padding-left: 0.5rem;
  font-size: 1rem;
}

/* .login-password {
  margin: 0 0 1rem 0;
  background-color: #fff;
  color: #000;
  line-height: 30px;
  border-radius: 5px;
  padding-left: 0.5rem;
  font-size: 1rem;
} */

label {
  font-size: 1rem;
  font-weight: 600;
  float: left;
}

.login-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 25px;
  margin: 0 5px;
}

.create-account-button {
  border-radius: 10px;
  border: solid 3px #12192C;
  background-color: #14374D;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 25px;
  margin: 0 5px;
}

.create-account-button a {
  color: #fff;
  text-decoration: none;
}



/* ====== CREATE ACCOUNT PAGE ====== */

.Create-Account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-account-logo {
  margin: 2rem 0 3rem 0;
  padding: .3rem;
  background-color: #250D2F;
  border: 5px outset #888;
  box-shadow: 0 0 1.5rem #FF7727;
}



/* ===== CHARACTER SUMMARY ===== */
.Character-Summary {
  background-color: #250D2F;
}



/* ==== ACTIVITY PAGE ==== */

.difficulty-btn-container {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

.difficulty-btn {
  background-color: #FE9F29;
  color: black;
  border-radius: 10px;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "card1 card2"
    "card3 card4"
    "card5 card6";
}

.details {
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #250d2f;
  color: white;

}

.activity-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-input {
  line-height: 30px;
  
}

select {
  height: 30px;
}



.add-activity-btn {
  grid-area: card1; 
  justify-self: end; 
  align-self: start;
  width: 90%;
  height: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: #652F7B;
  border-radius: 10px;
  border: 5px solid #250d2feb;
  box-shadow: 0 0 5px #fff;
}

.activity-modal {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.activity-content {
  background-color: #31123e;
  border: 2px black solid;
  border-radius: 10px;
}

.activity-btn,
.custom-btn {
  background-color: #31123e;
  color: white;
  border: 2px solid black;
}

.activity-btn:active {
  background-color: #652F7B;
}

.update-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

.delete-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
}

.activity-tab,
.custom-tab {
  background-color: #652F7B;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.activity-tab select,
.custom-tab select,
.activity-tab input,
.custom-tab input {
  background-color: #250D2F;
  padding: 5px 100px 5px 5px;
  border-radius: 10px;
}

/* ==== CHECK-IN PAGE ==== */
.checkIn-modal-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.checkIn-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #652F7B;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  z-index: 1001;
  box-sizing: border-box;
}

.activity-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  width: 90%; 
  text-align: left; 
  margin-left: 5%; 
  color: #eee;
}

.checkIn-modal-input {
  width: 90%;
  margin: 2px 0 15px 0;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc
}

.checkIn-modal-close {
  background-color: #652F7B;
  border: 3px solid #250D2F;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.checkIn-btn {
  color: #222;
  background-color: #FE9F29;
  border: 3px solid #fff;
  border-radius: 10px;
  width: 50%;
  margin: 20px 0;
  font-size: 1.3rem;
}

.checkIn-btn-modal {
  color: #222;
  background-color: #FE9F29;
  border: 3px solid #fff;
  border-radius: 10px;
  width: 90%;
  margin: 10px 0;
  font-size: 1.3rem;
}

.checkIn-btn-back {
  background-color: #00000025;
  border: 3px solid #fff;
  border-radius: 10px;
  width: 90%;
  margin: 10px 0;
  font-size: 1.3rem;
}

.checkIn-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.modal-text {
  font-size: 1.2rem;
}

/* ==== NAVBAR ==== */
.Navbar {
  background-color: #12192C ;
}

.nav-logo {
  background-color: #12192C;
}

.nav-link {
  background-color: #12192C;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* ==== PARTY PAGE ==== */
.Party {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.members {
  font-size: 18px;
  color: #fff;
}

.add-members {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 25px;
  margin: 0 5px;
}

.add-members a {
  color: #FFF;
  text-decoration: none;
}

.challenge-name {
  line-height: 30px;
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 1rem;
}

.challenge-description {
  line-height: 30px;
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 1rem;
}

/* ======== CALENDAR ======== */

.react-calendar {
  width: 93%;
  margin: 2rem;
  padding: 1rem;
  justify-content: center;
  background: #250D2F;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
}

/* .react-calendar--doubleView {
  width: 700px;
} */

/* .react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
} */

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  border: 2px solid #3EB8D6;
  border-radius: 5px;
  /* color: #fff; */
  height: 4rem;
  font-size: 16px;
  font-weight: 500;
  background-color: #12192C;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
  background-color: #3eb8d6;
  border: 4px solid #083cc9;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 2em;
}

.react-calendar__navigation button {
  min-width: 44px;
  font-size: 18px;
  font-weight: 600;
  background: #12192C;
}

.react-calendar__navigation button:disabled {
  background-color: #999;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #3EB8D6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 1rem;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 1rem;
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  color: #fff;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #3EB8D6;
}


/* ===== INVITE PAGE ===== */
.invite-button {
  background-color: #FE9F29;
  border: 2px solid #fff;
  color: #000;
  border-radius: 10px;
  font-weight: 600;
  
}

.invite-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.invite-message {
  text-align: center;
  align-items: center;
  width: 50%;
  justify-content: center;
  background-color: #250D2F;
  color: #fff;
  margin: 2rem 0;
  border-radius: 10px;
}





/* ==== CHARACTER ==== */
.hero-full-image {
  margin-top: 20px;
  border: 5px solid #ffffffcb;
  border-radius: 3px;
  box-shadow: 0 0 20px #fff;
}
.achievements a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.inventory-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

.quests-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

.abilities-button {
  border-radius: 10px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 10px 15px;
  margin: 0 5px;
}

/* Achievements.jsx */
.achievements-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    "card1" 
    "card2"
    "card3" 
    "card4"
    "card5"
    "card6"
    "card7"
    "card8";
}

.achievement-details {
  border-radius: 8px;
  margin: 25px;
  padding: 30px;
  text-align: center;
  background-color: #250d2f;
  color: white;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 0px;
}


.achievement-details img {
  width: 60px;
  float: left;
}

.footerDiv {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Header {
    
  }
  
  .Navbar {
    visibility: hidden;
    height: 100px;
  }

  .Navbar a {
    display: none;
    
  }

  .hero-full-image {
    margin-top: 20px;
    height: 250px;
    border: 5px solid #ffffffcb;
    border-radius: 3px;
    box-shadow: 0 0 20px #fff;
  }
  
  .footerDiv {
    position: fixed;
    bottom: 0px;
    display: block;
    margin-top: 10px;
  }

  .mobileNavDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
  }

  .mobile-link {
    background-color:#250D2F;
    color: #fff;
    width: 100%;
    border-left: 1px solid #eeeeee20;
    border-radius: 4px;
  }

  .mobile-link a {
    color: #fff;
    font-size: 16px;
  }

  .update-button {
  border-radius: 7px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 3px 5px;
  margin: 0 5px;
  }

  .delete-button {
  border-radius: 7px;
  border: solid 1px #3EB8D6;
  background-color: #12192C;
  box-shadow: 2px 1px 3px #000000a9;
  padding: 3px 5px;
  margin: 0 5px;
  }

  .invite-message {
    text-align: center;
    align-items: center;
    width: 80%;
    justify-content: center;
    background-color: #250D2F;
    color: #fff;
    margin: 2rem 0;
    border-radius: 10px;
  }
}


/* ActivityDetails.jsx */
.activity-details {
  display: flex;
  flex-direction: column;
  margin: 15%;
  align-items: center;
  background-color: #652F7B;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100
}

.activity-icon {
  margin-top: 10px;
}

.activity-details img {
  width: 40px;

}

.details-button-container {
  display: flex;
  gap: 10px; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

.return-link img {
  width: 40px;

}

@media only screen and (min-width: 600px) {
  .Navbar {
    display: block;
  }
}

