#root {
  max-width: 1280px;
  margin: 0px 0px;
  text-align: center;
  background-color: #31123E;
}

/* div {
  border: 1px solid white;
} */

.logo:hover {
  filter: drop-shadow(0 0 2em #fd952daa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #fd952daa);
}

/* Activities.jsx */
.activity-modal {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.activity-content {
  background-color: #31123e;
  border: 2px black solid;
  border-radius: 10px;
}

.activity-btn,
.custom-btn {
  background-color: #31123e;
  color: white;
  border: 2px solid black;
}

.activity-btn:active {
  background-color: #652F7B;
}

.activity-tab,
.custom-tab {
  background-color: #652F7B;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.activity-tab select,
.custom-tab select,
.activity-tab input,
.custom-tab input {
  background-color: #250D2F;
  padding: 5px 100px 5px 5px;
  border-radius: 10px;
}

.difficulty-btn-container {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

.difficulty-btn {
  background-color: #FE9F29;
  color: black;
  border-radius: 10px;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "card1 card2"
    "card3 card4"
    "card5 card6"
    "card7 card8";
}

.details {
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background-color: #250d2f;
  color: white;

}

.activity-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-input {
  line-height: 30px;
  
}

select {
  height: 30px;
}

.add-activity-btn {
  grid-area: card1; 
  justify-self: end; 
  align-self: start;
  width: 90%;
  height: 90%;
  margin: 10px auto;
  padding: 10px;
}

.add-activity-btn {
  background-color: #652F7B;
}

.footerDiv {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Navbar {
    display: none;
  }
  
  .footerDiv {
    position: fixed;
    bottom: 0px;
    display: block;
  }
}

.mobileNavDiv {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color:#31123E;
}



@media only screen and (min-width: 600px) {
  .Navbar {
    display: block;
  }
}

